html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-header {
  background-color: #f1f5f7;
}
.top-header {
  background-color: #293449;
  height: 55px;
}
.container {
  width: 940px;
  margin: 0 auto;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}
.logo {
  margin-top: 0;
}
h1, h2, h3 {
  margin: 0;
}

/*
header h2 {
  font-family: Cuprum Regular, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
*/

ul {
  padding: 0;
}
.logo-header {
  position: absolute;
  border-bottom: 5px solid #b52933;
  /*display: inline-block;*/
  display: block;
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #ee3643;
  width: 220px;
  padding: 15px 0;
}
.logo-footer {
  display: block;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #ee3643;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  border-bottom: 5px solid #b52933;
}
.top-header .container {
  display: flex;
  width: 940px;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.top-header .search {
  padding-left: 240px;
}

/*
.top-header .container {
  display: flex;
  width: 940px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
*/

.search {
  width: 260px;
}
.search a, .bookmark a, .cart a {
  font-family: Cuprum Regular, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}
.bookmark {
  width: 150px;
}
.cart {
  width: 150px;
}
.order {
  width: 150px;
  background-color: #63a63e;
}
.order a {
  color: #ffffff;
  font-family: Cuprum Regular, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  padding-top: 18px;
  text-decoration: none;
}
.main-header {
  padding-bottom: 60px;
}
.main-menu {
  width: 940px;
}
.main-menu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-bottom: 5px solid #293449;
  background-color: #32425c;
  height: 55px;
}
.main-menu a {
  display: inline-block;
  padding-top: 19px;
  text-align: center;
  font-family: Cuprum Regular, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}
.nav {
  padding-left: 52px;
  padding-right: 52px;
}

/*
.main-menu a:last-child {
  margin-right: 55px;
}*/

.main-header .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
}
.lead {
  width: 320px;
  font-size: 16px;
  line-height: 23px;
  font-family: Cuprum Italic;
  font-weight: normal;
  color: #ee3643;
  font-style: italic;
}
.contacts {
  width: 340px;
}
.user-block {
  width: 280px;
}
.assortment {
  padding-top: 60px;
  padding-bottom: 55px;
}
.assortment-item h3 {
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 26px;
  padding-left: 23px;
}
.assortment-item a {
  display: block;
  width: 135px;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.1;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 25px;
  margin-top: 10px;
}
.assortment .container {
  display: flex;
}
.assortment-left {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 410px;
  justify-content: space-between;
  align-content: space-between;
}
.materials {
  width: 300px;
  height: 123px;
  outline: 1px solid red;
  background: url("../img/materials.png") no-repeat 220px 20px;
  background-color: #f6b22d;
  /*margin-right: 20px;*/
}
.instruments {
  width: 300px;
  height: 123px;
  outline: 1px solid red;
  margin-right: 20px;
  background: url("../img/instruments.png") no-repeat 197px 33px;
  background-color: #4aafde;
}
.technics {
  width: 300px;
  height: 123px;
  outline: 1px solid red;
  background: url("../img/technics.png") no-repeat 190px 30px;
  background-color: #cc79d1;
}
.assortment-right {
  display: flex;
  width: 300px;
  height: 410px;
  justify-content: space-between;
  flex-wrap: wrap;
  /*padding-top: 20px;*/
  flex-direction: column;
  /*align-content: stretch;*/
}
.slider {
  background-image: url("../img/slider1.jpg");
  width: 620px;
  height: 265px;
  outline: 1px solid blue;
  /*margin-right: 20px;*/
}
.slider h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.button-catalog {
  margin-left: 25px;
  margin-top: 115px;
  width: 195px;
}
.slider span {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  margin-left: 25px;
}
.discount {
  width: 300px;
  height: 123px;
  outline: 1px solid red;
  background: url("../img/discount.png") no-repeat 195px 25px;
  background-color: #85d179;
}
.delivery {
  width: 300px;
  height: 123px;
  outline: 1px solid red;
  background: url("../img/delivery.png") no-repeat 190px 30px;
  background-color: #f6b22d;
}
.best {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f3ec;
  font-family: Cuprum Regular;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  /*padding-top: 30px;*/
  padding-left: 30px;
  height: 90px;
  color: #32425c;
  /*margin-top: 20px;*/
}

/*display: inline-block;*/


/*background-color: #ee3643;
width: 250px;
color: #ffffff;
font-family: Cuprum Regular;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
padding-top: 14px;
text-align: center;
margin-right: 25px;

*/

.best h3 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}
.button {
  display: block;
  background-color: #ee3643;
  width: 250px;
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  /*border: 0;*/
  border-radius: 3px;
  margin-right: 25px;
}
.commodity {
  display: flex;
  justify-content: space-between;
  /*margin-top: 20px;*/
  padding-top: 20px;
  padding-bottom: 20px;
}
.commodity article {
  /*margin-right: 20px;*/
  width: 220px;
  outline: 1px solid green;
}

/*.commodity article:last-child {
  margin-right: 0;*/


}

/*
.brands-item {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  justify-content: space-between;*/

/*align-content: space-between;*/

/*height: 310px;*/

/*padding-top: 20px;
  padding-bottom: 85px;
} */
.brands-item {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 85px;
}
.brands-item a {
  width: 220px;
  height: 145px;
  outline: 1px solid green;
  margin-bottom: 20px;
  display: block;
}
.service {
  background-color: #f2f6f8;
  padding-top: 68px;
  padding-bottom: 60px;
}
.service .container {
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  /*align-content: space-between;*/

  justify-content: space-between;
}
.service-service {
  width: 940px;
  padding-bottom: 75px;
}
.slider-service-left {
  width: 240px;
}
.slider-service-right {
  width: 620px;
  padding-left: 80px;
  background: url("../img/service-delivery.png") no-repeat 100% 20px;
}
.promo .container {
  display: flex;
  padding-bottom: 90px;
}
.promo-promo {
  width: 640px;
  padding-right: 120px;
}
.promo .contacts {
  width: 300px;
}
.promo-contacts .mail {
  display: block;
  background-color: #ee3643;
  width: 300px;
  color: #ffffff;
  font-family: Cuprum Regular;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  /*border: 0;*/

  border-radius: 3px;
}
.main-footer {
  background-color: #32425c;
}
.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main-footer h2 {
  width: 390px;
}
.footer-menu-main ul {
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.main-footer .adress {
  width: 415px;
}
.footer-menu-assortment ul {
  display: flex;
  width: 525px;
  justify-content: space-between;
}
.sub-footer {
  background-color: #293449;
}
.sub-footer .container {
  display: flex;
  justify-content: space-between;
  width: 940px;
}
.info-copyright {
  width: 390px;
}
.social {
  width: 250px;
}
.info {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.info-mail {
  width: 150px;
}
.info-development {
  padding-left: 40px;
}

/*  CATALOG */
main .container {
  width: 940px;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}
.main-heading {
  display: block;
  text-align: left;
  background-color: #f2f6f8;
}
.filter form {
  display: flex;
  padding-right: 20px;
  flex-direction: column;
  width: 220px;
}
.filter-title {
  background-color: #f7f3ec;
}
.catalog-menu ul {
  background-color: #f7f3ec;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.goods-catalog {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
  /*min-height: 1000px;*/

  align-content: space-between;
}
.goods-catalog article {
  width: 220px;
  outline: 1px solid red;
  /*min-height: 320px;*/

  margin-bottom: 20px;
}
.catalog-selection {
  display: flex;
}
.paginator ul {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}

/*
.info-mail {
  width: 150px;
}*/

/*
.brands-item a:last-child {
  margin-right: 0;
}
*/
.affix {
  background-color: #f2f6f8;
}
main h1 {
  font-family: Cuprum Regular, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}
main h2 {
  font-family: Cuprum Bold, sans-serif;
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
}
main h3 {
  font-family: Cuprum Bold, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
article h1 {
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}
.affix h3 {
  font-family: Cuprum Bold, sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
}
form h2 {
  font-family: PT Sans, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

}

}

}

}

}

}

}

}

}

}

}
